<header>
    <div>
        <img src="https://cdn.dribbble.com/users/33073/avatars/small/f35bbe108c9401ced8004800a22ad5fc.png?1632803104" alt="" id="perfil">
        <h5>EXPLORAR</h5>
        <h5>BLOG</h5>
        <h5>AMIGOS</h5>
    </div>
    <div class="container-redes">
        <img src="assets/imagens/ph_twitter-logo.png" class="logo-rede" alt="foto twitter">
        <img src="assets/imagens/mdi_instagram.png" class="logo-rede" alt="foto instagram">
        <img src="assets/imagens/mdi_gear.png" class="logo-rede" alt="foto configuração">
    </div>
</header>
