@media (max-width: 600px){
    header{
        padding: 0 0.5rem;
    }
    h5{
        font-size: 0.7rem;
        margin: 0 0.5rem;
    }

    #perfil{
        width: 35px;    
    }

    .logo-rede{
        width: 20px;
        margin: 0 0.3rem;    
    }
}